html {
    background-color: #FFFFFF;
    padding: 0px;
}
body {
     margin: 0 auto;
     background-color : #D5D5D5;
}
img#title {
    background-color:#FFFFFF;
    width : 80%;
    height : 10%;
}
div#headtitle-area {
    background-color:#FFFFFF;
}
div#mid-content {
    background-color: #FFFFFF;
    width : 80vw;
    height : 100vh;    
    margin: 0 auto;
    
}
#content { 
    font-family : "Noto Sans KR", sans-serif;
    font-size : 20;
    text-align : center;
    margin: 0 auto;
}
.start {
    font-family : "Noto Sans KR", sans-serif;
    font-size : 36;
    width: 50%;
    min-width: 400pt;
    text-align: center;
    border : 0pt;
    border-radius : 8pt;
}
div#reference {
    font-family : "Noto Sans KR", sans-serif;
    font-size : 10;
    text-align : right;
}
