html {
    background-color: #FFFFFF;
    padding: 0px;
}
body {
     margin: 0 auto;
     background-color : #D5D5D5;
}
div#headtitle-area {
    width : 100vw;
    background-color:#FFFFFF;
    height : 25vw;
    vertical-align : middle;
    border-bottom-style : solid;
    border-color : #000000;
    border-width : 3px;
}
img#title {
    display : block;
    margin-left: auto;
    margin-right: auto;
}
div#mid-content {
    background-color: #FFFFFF;
    width : 80vw;
    height : 100vh;    
    margin: 0 auto;
}
#content { 
    font-family : "Noto Sans KR", sans-serif;
    font-size : 20;
    text-align : center;
    margin: 0 auto;
}
p.instructions {
    font-family : "Noto Sans KR", sans-serif;
    font-size : 30;
    width : 70%;
    background-color : #EAEAEA;
    border : 0pt;
    border-radius : 16pt;
    margin : 0 auto;
    padding : 4pt;
}
.start {
    font-family : "Noto Sans KR", sans-serif;
    font-size : 36;
    width: 50%;
    min-width: 400pt;
    text-align: center;
    border : 1pt;
    border-radius : 8pt;
    border-color : black;
    cursor: pointer;
}
.select {
    font-family : "Noto Sans KR", sans-serif;
    font-size : 24;
    width: 70%;
    min-width: 400pt;
    text-align: center;
    border : 1pt;
    border-radius : 8pt;
    border-color : black;
    cursor: pointer;
    margin-top : 25px;
    padding : 4pt
}
.back, .back_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    cursor: pointer;
    margin : 0 auto;
}
.back_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
#question-number{
    font-size : 30pt;
    }
#question-text {
    width : 70%;
    background-color : #D5D5D5;
    border-radius : 16pt;
    font-size : 30; 
    margin : 0 auto;
    padding : 4pt
}
div.axis {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
div.bias {
    background-color: #f67280;
    text-align: left;
    margin-left : 4px;
}
div.interest {
    background-color: #355c7d;
    text-align: left;
    margin-left : 4px
}
div#advice {
    font-family : 'Noto Sans KR', sans-serif;
    font-size : 20;
    margin : 0 auto;
    width : 70%;
    background-color : #D5D5D5;
    border-radius : 16pt;
    margin : 0 auto;
}
div#reference {
    font-family : "Noto Sans KR", sans-serif;
    font-size : 10;
    text-align : right;
}
